{block content}
    <h1>My React page</h1>
    <div id="react-root"></div>
    
    <style>
        .react-container {
            display: inline-block;
            border: 2px lightblue dashed;
            padding: 0 1rem;
        }
    </style>

    <script>
        const data = JSON.parse({$data});
    </script>
{/block}